// color
$white: white;
$dark: #001529;
$blue:  #1890ff;
$dark_grey:rgba(255, 255, 255, 0.65);

// size
$header_height:63px;
$logo_height:$header_height - 15px;
$body_min_width:1000px;
$body_min_height:500px;
$ratio_width: 320px;

// font-size
$header_font_size:25px;
$nav_font_size:15px;


// position
$bound_padding_lr: 0 1.5vmin;
$bound_padding_tb: 1.5vmin 0;
$bound_padding: 1.5vmin;

// others
$border_right: 1px solid #e8e8e8;

// common component style 
#handle_href{
    color: $blue;
}
.sr-only {
    display: none;
}
