// color
$white: white;
$dark: #001529;
$blue:  #1890ff;
$dark_grey:rgba(255, 255, 255, 0.65);


// size
$logo_height:45px;
$body_min_width:1000px;
$body_min_height:500px;
$header_height:63px;


// font-size
$header_font_size:25px;
$nav_font_size:15px;


// position
$bound_padding: 0 2vmin;


// others
