// color
$darkgrey:#282c34;
$lightgrey:	#F5F5F5;
$blackforshadow: rgba(0,0,0,0.5);
$white:white;
$darkgreen:#00A497;

// size
$header-height:7vh;
$logo-height:5vmin;
$nav-margin:2vmin;

// font-size
$header-font-size:calc(10px + 2vmin);
$nav-font-size:calc(10px + 1vmin);

// others
$border-shadow:0 1px 1px 0 $blackforshadow;
