#analysis_body {
    padding-top: 30px;
    width: 800px;
    margin: auto;
    .desc {
        font-size: 18px;
        line-height: 22px;
        padding: 20px 0;
    }
    h3 {
        padding: 20px 0;
        color: green;
        font-size: 28px;
        font-weight: bold;
    }
}