@import 'common-style.scss';

html,body,#root{
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  &-header{
    flex: 0 0 $header-height;
  }
  &-container{
    height: 90%;
  }
  &-footer{
    flex:0 0 $header-height;
  }
}
