// style for Login.tsx
@import '_common-style.scss';

.login_logo{
    display: flex;
    flex-direction: column;
    &_img {
      animation: header-logo-spin infinite 20s linear;
      height: 64px;
    }
}

.login_form{
    &_button{
      width: 100%;
    }
    &_forgot{
      float: right;
    }
}

.forgot_password_form{
    .ant-form-item{
      margin-bottom: 12px;
    }
}

