// style for Register.tsx
@import '_common-style.scss';

.register_form{
    &_button{
      width: 100%;
    }

    .ant-form-item{
       margin-bottom: 12px;
    }
}

p{
    font-size: $nav_font_size;
    line-height: 1.5;
    font-weight: 500;
}
