// style file of rightSider
@import '_common-style.scss';

.rightSider{
  padding: 0.1rem 0.5rem;
  &_head{
    display: inline-block;
    .icon{
      font-size: $nav_font_size*1.5;
    }
    .title{
      padding: 0.2rem;
      font-weight: bold;
      font-size: $nav_font_size*1.3;
    }
    //.switch{
    //  margin-left: $bound_padding ;
    //  margin-bottom: $bound_padding*0.5;
    //
    //}
  }
  &_tree{
    margin: 0.2rem 0;
    &_title{
      font-size: $nav_font_size;
      font-weight: bold;
      padding-bottom: 0.2rem;
    }
    .label{
      color: black;
    }
    .myIcon{
      font-size: 20px;
      vertical-align: text-top;
    }
  }

  &_description{
    margin: 0.2rem 0;
    &_title{
      font-size: $nav_font_size;
      font-weight: bold;
      padding-bottom: 0.2rem;
    }
    &_body{
      padding-left: 0.5rem;
      // font-weight: 50;
    }
    .tag {
      margin: 0px 2px;
      height: auto;
      padding: 1px 3px;
      white-space: nowrap;
      // color: #fafafa;
      font-weight: 500;
      font-size: inherit;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      line-height: 28px;
      transition: all 0.3s;
    }
  }

  &_confidence{
    margin: 0.2rem 0;
    &_title{
      font-size: $nav_font_size;
      font-weight: bold;
      padding-bottom: 0.2rem;
    }
    .progress{
      padding-left: 0.5rem;
      width: 280px;
    }
  }

  &_subIntention{


    &_dim{
      margin: 0.3rem 0;
      .title{
        font-size: $nav_font_size;
        font-weight: bold;
        // padding-bottom: 0.2rem;
        margin: 0.2rem 0;
        position: relative;
      }
      .Btn{
        position: absolute;
        right: 0;
        top: -0.5rem;
      }
      .body{
        margin-left: 3rem;
        font-size: 16px;
        .card{
          border-radius: 10px;
          border: 2px solid #e8e8e8;
          margin: 1rem 0.2rem;
        }
        .progress{
          padding-left: 0.5rem;
          width: 280px;
        }
      }
    }
  }
}